body .page{
    /* background-color: #4169E1; */
    background-image: url("../img/fundoLogin.jpg_large");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile_box {
    max-width: 470px;
    min-width: 280px;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.8);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.profile_box .container {
    max-width: 470px;
    /* min-width: 320px; */
    margin: 0 25px;
    margin: auto;
    width: 80%;
}

.header_profile {
    color: #524E50;
}

.header_profile span{
    font-size: 20px;
}

.header_profile i {
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.header_profile i:hover {
    background-color: #524E50;
    color: #E0E0E0;
}

.perfil_photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name_div {
    margin-bottom: 15px;
}
.name_div span {
    font-size: 20px;
}

.name_div i{
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

.name_div i:hover{
    color: #4169e1;
}

.option_profile {
    flex-wrap: wrap;
}

.option_profile a {
    text-decoration: none;
}

.box_option {
    background-color: royalblue;
    margin: 10px 10px;
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.box_option i {
    font-size: 40px;
    padding: 10px 0;
}

.box_option p {
    padding-bottom: 10px;
    font-size: 20px;
}

