@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}