.post_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Parte dos post */ 
.post {
    width: 90%;
    margin-bottom: 40px;
}

.post a {
    text-decoration: none;
    color: black;
}

.post_flex {
    display: flex;
}

.post_thumbnail {
    width: 345px;
    height: 175px;
}

.post_thumbnail img {
    height: 100%;
    width: 100%;
}

.data, .title, .text, .fonte {
    margin: 15px;
}

.post .title {
    font-size: 22px;
}