body .page{
    /* background-color: #4169E1; */
    background-image: url("../img/fundoLogin.jpg_large");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register_box {
    max-width: 470px;
    min-width: 280px;
    width: 100%;
    background-color: #E0E0E0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.register_box .container {
    max-width: 470px;
    /* min-width: 320px; */
    margin: 0 25px;
    margin: auto;
    width: 80%;
}

.logo_div {
    display: flex;
    justify-content: center;
}
.logo {
    width: 170px;
    height: 60px;
}

.login_cadastro{
    display: flex;
}

.btn_login_cadastro {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.btn_login_cadastro:hover {
    color: white;
    background-color: #4169E1;
    border-bottom-color: #4169E1;
    transition: 0.3s;
}

#btnLogin {
    border-bottom: 2px solid #4169E1;
    border-radius: 5px;
}

#btnCadastro {
    border-bottom: 2px solid #E0E0E0;
    border-radius: 5px;
}

.register_box .container h4{
    margin: 20px 0 15px 0;
    font-weight: 600;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    /* padding: 10px 25px; */
    height: 40px;
    width: 99.3%;

    border-radius: 5px;
    border: solid 1px #a8a8a8;
}


.btn-blue {
    color: white;
    background-color: #4169E1;
    margin: 20px 0 0 0;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    float: left;
    cursor: pointer;
    font-weight: 600;
}

.btn-blue:hover {
    background-color: #345aca;
    transition: 0.5s;
}

#div_erro {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    height: 33px;
    width: 112px;
    float: right;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}