::webkit{
  width: 10px;
  max-height: 30%;
  height: 30%;
}

body {
  background-color: #4169E1;
}

.page {
  width: 1120px;
  height: 100vh;
  min-height: 100%;
  display: flex;
  margin: 0 auto;
}

.side_bar {
  background-color: #171717;
  width: 340px;
  height: 100%;
}

.side_bar img {
  width: 170px;
  height: 60px;
  margin: 20px 85px 20px 85px;
  
}

.list_nav {
  width: 260px;
  margin: auto;
}

.list_nav a {
  text-decoration: none;
}

.list_nav  .item_nav, .list_nav .word_navegation {
  color: #a8a8a8;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

.list_nav .item_nav:hover {
  background-color: #4169e1;
  color: white;
  transition: 0.3s;
}

.list_nav .item_nav span {
  font-size: 17px;
}

.list_nav .word_navegation {
  font-size: 13px;
}

.list_nav div i {
  font-size: 20px;
  padding: 15px;
}

.content {
  width: 780px;
  display: flex;
  flex-direction: column;
  background-color: #f8f4f2;
}

.content .container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
}

.search {
  background-color: #524E50;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.search input, .search button {
  background: transparent;
  border: none;
  outline: 0;
  color: #a8a8a8;
}

.search input {
  height: 45px;
  width: 200px;
}

.search button {
  cursor: pointer;
}

.search button:hover {
  color: white;
}

.search button i {
  font-size: 20px;
  padding: 15px;
}

.word_navegation {
  height: 50px;
}

.content .page_category {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cccccc;;
}

.page_category h1 {
  font-size: 25px;
  margin: 0 40px;
}

.post_list{
  overflow: auto;
  height: calc( 100% - 60px );
}

