.box_contato {
    /* background-color: red; */
    padding: 10px;
    margin: 10px;
    color: #524E50;
    display: flex;
    flex-direction: column;
}

.box_contato i {
    font-size: 30px;
}

.box_contato h2 {
    color: royalblue;
}

.box_contato a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.box_contato span {
    text-align: justify;
}

.box_contato i, .box_contato span, .box_contato a, .box_contato h2 {
    margin: 5px 0;
}



