body .page{
    /* background-color: #4169E1; */
    background-image: url("../img/fundoLogin.jpg_large");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile_box {
    max-width: 470px;
    min-width: 280px;
    width: 100%;
    background-color: #E0E0E0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.profile_box .container {
    max-width: 470px;
    /* min-width: 320px; */
    margin: 0 25px;
    margin: auto;
    width: 80%;
}

.header_profile i {
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.header_profile i:hover {
    background-color: #524E50;
    color: #E0E0E0;
}

.perfil_photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.name_div, .email_div{
    margin-top: 15px;
}

.name_div span{
    margin-right: 10px;
}

.name_div i:hover{
    color: #4169e1;
}

