.post_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Parte dos post */ 
.post {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;
}

.post_flex {
    display: flex;
}

#thumbnail_container {
    width: 345px;
    height: 162px;
    margin: 0 10px 10px 0;
}

#thumbnail_container img {
    width: 100%;
    height: 100%;
}

.about_container {
    width: calc(100% - 345px);
}

.text_about {
    padding: 5px 0;
    font-size: 18px;
}

.news_container .news{
    text-align: justify;
    font-size: 18px;
}

