::webkit{
    width: 10px;
    max-height: 30%;
    height: 30%;
}

body {
    background-color: #4169E1;
}

.page {
    width: 1120px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.side_bar {
    background-color: #171717;
    width: 340px;
    height: 100%;
}

.side_bar img {
    width: 170px;
    height: 60px;
    margin: 20px 85px 20px 85px;
    
}

.list_nav {
    width: 260px;
    margin: auto;
}

.list_nav a {
    text-decoration: none;
}

.list_nav div {
    color: #a8a8a8;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list_nav div:hover {
    background-color: #4169e1;
    color: white;
    border-radius: 10px;
}


.list_nav div span {
    font-size: 17px;
}

.list_nav div i {
    font-size: 20px;
    padding: 15px;
}




.content {
    width: 780px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.content .search {
    height: 50px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content .page_category {
    height: 50px;
    background-color: rgb(237, 109, 100);
    display: flex;
    align-items: center;
}

.post_list{
    background-color: white;
    overflow: auto;
}

.post {
    width: 700px;
    /* height: 100px; */
    margin: auto;
    background-color: purple;
    margin: 40px 40px 0px 40px;
}